---
import type { SiteConfig } from "@types";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full border-t border-neutral/20 px-5 pt-5 pb-8 text-center text-white"
>
  <ul class="mb-5 flex flex-wrap justify-center gap-x-2 text-xs">
    {
      socialLinks.map((link) => (
        <li>
          <a
            class="group inline-flex items-center gap-1.5 px-4 py-3 transition-colors hover:text-primary"
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
          >
            {link.text}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="opacity-50 transition-opacity group-hover:opacity-100"
            >
              <path d="M7 7h10v10" />
              <path d="M7 17 17 7" />
            </svg>
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-sm text-neutral">
    © {currentYear} {author}. All rights reserved.
  </p>
</footer>
